body {
 /* background-image: url("../image/bg3.jpg");
 background-repeat: no-repeat; */

 background-color: yellow;

 height: 100%;
   background-position: center;
   font-family: 'Kanit', sans-serif;
}
